name: Environment Validation

on:
  push:
    branches: [ dev, qa, stg, prd ]

jobs:
  env-check:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: react-build

      - name: Terraform Init & Plan
        run: |
          cd infra/envs/${{ github.ref_name }}
          terraform init
          terraform plan

